.credit {
  margin-top: 2%;

  a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;

    &:hover,
    &:focus {
      color: #fff;
    }
  }

  h2,
  h3 {
    margin: 0;
    padding: 0;
  }

  h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  &__card {
    &__header {
      margin: 2rem 0;
      overflow: hidden;

      h3 {
        font-size: 2rem;
      }

      a {
        display: inline-block;
        vertical-align: middle;
        float: none;
        font-size: 1.6rem;

        &:after {
          content: "";
          display: inline-block;
          vertical-align: middle;
          margin-left: 1rem;
          width: 19px;
          height: 10px;
          background: url(../../img/seta-baixo.png);
          transition: transform 0.5s;
        }

        &.card-open {
          &:after {
            transform: rotate(180deg);
          }
        }
      }

      &__bandeira {
        margin-top: 4rem;

        img {
          float: left;
        }

        h2 {
          display: inline-block;
          padding-left: 1.5rem;
          font-size: 2.4rem;
        }
      }
    }

    &__body {
      margin: 0px 15px;
      padding-top: 20px;
      border-top: 1px solid #4e4b4b;
      overflow: hidden;

      & > .row {
        margin-bottom: 20px;
      }
      .no-margin-bottom {
        margin-bottom: 0px;
      }

      .progress {
        height: 7px;
        background: #4e4b4b;
        margin-bottom: 0;

        .progress-bar {
          width: 25%;
          background: #fff;
        }
      }

      &__values {
        p {
          font-size: 1.8rem;
        }
      }
    }

    &__footer {
      margin: 0px 15px;
      padding: 20px 0px;
      border-top: 1px solid #4e4b4b;
      overflow: hidden;
      padding-bottom: 20px;
      a {
        font-size: 1.6rem;
      }
    }
  }
}
