header {
  .navbar-default {
    background: $bg-light-black;
    border-color: $bg-light-black;
    padding: 2rem 0;
    color: #fff;

    .navbar-nav {
      h3 {
        padding: 0;
        margin: 0;
      }

      li {
        a {
          color: #fff;
          font-size: 1.8rem;
          padding: 0;

          &:hover {
            color: #fff;
            text-decoration: underline;
          }
        }
      }
    }

    .navbar-brand {
      padding: 0px 1.5rem;
      height: auto;
    }

    .navbar-toggle {
      display: block;
      border: none;
      position: relative;
      margin-right: 5rem;
      float: left;

      &:after {
        content: "MENU";
        position: absolute;
        right: -4.5rem;
        color: #fff;
        top: 8px;
        font-size: 1.6rem;
      }

      &:hover,
      &:focus {
        background: none;
      }

      .icon-bar {
        width: 30px;
        height: 3px;

        background: #fff;
      }
    }

    .navbar-search {
      input {
        background: url(../../img/lupa.png) no-repeat center left 8px;
        background-color: $bg-light-black;
        border: 0;
        border-bottom: 1px solid;
        padding: 2rem 1rem 2rem 4.5rem;
        font-size: 1.6rem;

        &:focus {
          box-shadow: none;
        }
      }
    }

    .search-bar {
      @media (max-width: 767px) {
        display: none;
      }
    }

    .navbar-right {
      margin-top: 1.5rem;

      .search {
        display: none;

        @media (max-width: 767px) {
          display: block;
        }
      }

      .user-account {
        margin-right: 3rem;
        padding-right: 3rem;
        border-right: 1px solid #fff;
        height: 65px;
        margin-top: -22px;

        @media (max-width: 991px) {
          display: none;
        }

        h3 {
          margin-bottom: 1rem;
        }
        p {
          margin: 0;
          padding: 0;
        }
      }

      .sign-out {
        display: block;

        @media (max-width: 767px) {
          display: none;
        }

        &:hover {
          text-decoration: none;
        }

        img {
          width: 13px;
          opacity: 0.5;
        }
      }
    }
  }
}
