
.header {
  position: fixed;
  background-color: $bg-light-black;
  border-left: 1px solid $border;
  border-right: 1px solid $border;
  border-bottom: 1px solid $border;
  color: #fff;
  padding: 2.9rem 3.5rem 0 3.5rem;
  border-radius: 0 0 8px 8px;
  height: $headerHeight;
  width: 124rem;
  top: 0;
  z-index: 999;

  &::after {
    content: "";
    clear: both;
    display: table;
  }

  & > * {
    display: block;
    float: left;
  }

  &__logo-link {

  }
  &__logo-img {
    width: 6.7rem;
    height: 6.7rem;
  }

  &__menu {
    border-left: 1px solid $defaultTextColor;
    margin-left: 2.7rem;
    height: 7rem;
    padding-left: 4.5rem;

    &-gliph {
      cursor: pointer;
      position: relative;
      display: block;
      border-top: 2px solid $defaultTextColor;
      width: 2.5rem;
      top: 30px;

      &::after,
      &::before {
        content: "";
        position: absolute;
        left: 0px;
        border-top: 2px solid $defaultTextColor;
        width: 2.5rem;
      }

      &::before {
        top:  -11px
      }

      &::after {
        top: 7px
      }
    }
    &-cta {
      cursor: pointer;
      margin-left: 3.6rem;
      font-size: 2.5rem;
      padding-top: 1rem;
      display: block;

      &:hover {
        color: $linkCardColorHover;
      }
    }
  }

  &__search {
    margin: 0 .6rem 0 6.7rem;
    border: 0;
    background-image: url('../../img/lupa.png');
    background-repeat: no-repeat;
    background-position: 7px 24px;
    background-color: $bg-light-black;
    width: 29rem;
    border-bottom: 1px solid;
    padding: 1.9rem 1rem .9rem 4rem;
    font-size: 1.9rem;
  }

  &__profile {
    cursor: pointer;
    margin: 0 0 0 5.4rem;
    border-left: 1px solid #FFF;
    padding: 1.8rem 0 0 2.5rem;
    height: 7rem;

    &-title {
      text-transform: uppercase;
      margin: -3.4rem 0 0;
      font-size: 2.1rem;
    }

    & div {
      display: block;
      float: left;
      margin-top: 1.1rem;

      & + div {
        margin-left: 2.5rem;
      }

      & p {
        margin: 0;
        font-size: 2rem;

        & + p {
          font-size: 1.5rem;
        }
      }

    }
  }

  &__sign-out {
    cursor: pointer;
    margin: 0 0 0 5.4rem;
    border-left: 1px solid $defaultTextColor;
    padding: 1.8rem 0 0 2.5rem;
    height: 7rem;
    float: right;

    & p {
      font-size: 2.4rem;
      background-image: url('../../img/seta.png');
      background-repeat: no-repeat;
      background-position: 40px 9px;
      background-color: $bg-light-black;
      padding: 0 3rem 0 0;

      &:hover {
        color: $linkCardColorHover;
      }
    }
  }
}

@media (max-width: 800px) {
  .header {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    &__search,
    &__profile {
      display: none;
    }
  }
}


