$bg-dark-black: #121212;
$bg-light-black: #1e1e1e;
$border: #363636;
$linkCardColor: #e2e8f0;
$linkCardColorHover: #ec7000;
$defaultTextColor: #fff;

$headerHeight: 12.8rem;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: 0;
  backface-visibility: hidden;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
  background-color: $bg-dark-black;
}

body {
  box-sizing: border-box;
  background-color: $bg-dark-black;
}

h2 {
  font-size: 2.4rem;
  color: $defaultTextColor;
}

h3 {
  font-size: 1.6rem;
}

p {
  font-size: 1.4rem;
}

.wrapper {
  width: 124rem;
  margin: auto;
}

.card {
  background-color: $bg-light-black;
  border: 1px solid $border;
  border-radius: 8px;
  color: #ffffff;
  padding: 1.6rem;
}

header + section {
  margin-top: $headerHeight;
}
