*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: 0;
  backface-visibility: hidden; }

*:focus {
  outline: none; }

html {
  font-size: 62.5%;
  background-color: #121212; }

body {
  box-sizing: border-box;
  background-color: #121212;
  padding-bottom: 40px; }
  @media (min-width: 768px) {
    body {
      padding-top: 14rem; } }
  @media (max-width: 767px) {
    body {
      padding-top: 13rem; } }

h2 {
  font-size: 2.4rem;
  color: #fff; }

h3 {
  font-size: 1.6rem; }

p {
  font-size: 1.4rem; }

.card {
  background-color: #1e1e1e;
  border: 1px solid #363636;
  border-radius: 8px;
  color: #ffffff;
  padding: 1.6rem;
  min-height: 256px; }
  @media (max-width: 991px) {
    .card {
      margin-bottom: 4rem; } }

header .navbar-default {
  background: #1e1e1e;
  border-color: #1e1e1e;
  padding: 2rem 0;
  color: #fff; }
  header .navbar-default .navbar-nav h3 {
    padding: 0;
    margin: 0; }
  header .navbar-default .navbar-nav li a {
    color: #fff;
    font-size: 1.8rem;
    padding: 0; }
    header .navbar-default .navbar-nav li a:hover {
      color: #fff;
      text-decoration: underline; }
  header .navbar-default .navbar-brand {
    padding: 0px 1.5rem;
    height: auto; }
  header .navbar-default .navbar-toggle {
    display: block;
    border: none;
    position: relative;
    margin-right: 5rem;
    float: left; }
    header .navbar-default .navbar-toggle:after {
      content: "MENU";
      position: absolute;
      right: -4.5rem;
      color: #fff;
      top: 8px;
      font-size: 1.6rem; }
    header .navbar-default .navbar-toggle:hover, header .navbar-default .navbar-toggle:focus {
      background: none; }
    header .navbar-default .navbar-toggle .icon-bar {
      width: 30px;
      height: 3px;
      background: #fff; }
  header .navbar-default .navbar-search input {
    background: url(../img/lupa.png) no-repeat center left 8px;
    background-color: #1e1e1e;
    border: 0;
    border-bottom: 1px solid;
    padding: 2rem 1rem 2rem 4.5rem;
    font-size: 1.6rem; }
    header .navbar-default .navbar-search input:focus {
      box-shadow: none; }
  @media (max-width: 767px) {
    header .navbar-default .search-bar {
      display: none; } }
  header .navbar-default .navbar-right {
    margin-top: 1.5rem; }
    header .navbar-default .navbar-right .search {
      display: none; }
      @media (max-width: 767px) {
        header .navbar-default .navbar-right .search {
          display: block; } }
    header .navbar-default .navbar-right .user-account {
      margin-right: 3rem;
      padding-right: 3rem;
      border-right: 1px solid #fff;
      height: 65px;
      margin-top: -22px; }
      @media (max-width: 991px) {
        header .navbar-default .navbar-right .user-account {
          display: none; } }
      header .navbar-default .navbar-right .user-account h3 {
        margin-bottom: 1rem; }
      header .navbar-default .navbar-right .user-account p {
        margin: 0;
        padding: 0; }
    header .navbar-default .navbar-right .sign-out {
      display: block; }
      @media (max-width: 767px) {
        header .navbar-default .navbar-right .sign-out {
          display: none; } }
      header .navbar-default .navbar-right .sign-out:hover {
        text-decoration: none; }
      header .navbar-default .navbar-right .sign-out img {
        width: 13px;
        opacity: 0.5; }

.col-md-4 span, .col-md-4 a.link {
  float: right; }

.col-md-4 a.link {
  font-size: 1.5rem;
  color: #e2e8f0;
  margin-right: 10px;
  text-decoration: none;
  cursor: pointer; }

.col-md-4 a.link:hover {
  color: #ec7000; }

.saldo {
  padding: 0 10px; }
  .saldo ul li.list-values-item {
    position: relative;
    display: block;
    margin-bottom: -1px;
    padding: 10px 15px;
    border-bottom: 1px solid #363636;
    line-height: 3rem; }
  .saldo p {
    padding: 10px 15px; }
  .saldo p.total {
    margin-top: 35px;
    font-size: 2rem;
    font-weight: 500; }

.gerente {
  margin-top: 2%; }
  .gerente h2.nome {
    margin: 10px 10px; }
  .gerente p.title {
    margin: 0 10px 35px;
    border-bottom: 1px solid #363636;
    padding-bottom: 3rem;
    color-interpolation-filters: auto; }
  .gerente ul li.list-contatos-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    line-height: 10px; }
  .gerente img.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: right; }

.lancamentos .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #121212; }

.lancamentos h2 {
  display: inline; }

.lancamentos .link {
  float: right;
  font-size: 1.5rem;
  color: #e2e8f0;
  margin-right: 10px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold; }
  .lancamentos .link:hover {
    color: #ec7000; }

.credit {
  margin-top: 2%; }
  .credit a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold; }
    .credit a:hover, .credit a:focus {
      color: #fff; }
  .credit h2,
  .credit h3 {
    margin: 0;
    padding: 0; }
  .credit h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: inline-block; }
  .credit a.link {
    float: right;
    margin-top: 2.3rem;
    margin-right: 1.5rem; }
    .credit a.link:hover {
      color: #ec7000; }
  .credit__card__header {
    margin: 2rem 0;
    overflow: hidden; }
    .credit__card__header h3 {
      font-size: 2rem; }
    .credit__card__header a {
      display: inline-block;
      vertical-align: middle;
      float: none;
      font-size: 1.6rem; }
      .credit__card__header a:hover {
        color: #ec7000; }
      .credit__card__header a:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin-left: 1rem;
        width: 19px;
        height: 10px;
        background: url(../img/seta-baixo.png);
        transition: transform 0.5s; }
      .credit__card__header a.card-open:after {
        transform: rotate(180deg); }
    .credit__card__header__bandeira {
      margin-top: 4rem; }
      .credit__card__header__bandeira img {
        float: left; }
      .credit__card__header__bandeira h2 {
        display: inline-block;
        padding-left: 1.5rem;
        font-size: 2.4rem; }
  .credit__card__body {
    margin: 0px 15px;
    padding-top: 20px;
    border-top: 1px solid #4e4b4b;
    overflow: hidden; }
    .credit__card__body > .row {
      margin-bottom: 20px; }
    .credit__card__body .no-margin-bottom {
      margin-bottom: 0px; }
    .credit__card__body .progress {
      height: 7px;
      background: #4e4b4b;
      margin-bottom: 0; }
      .credit__card__body .progress .progress-bar {
        width: 25%;
        background: #fff; }
    .credit__card__body__values p {
      font-size: 1.8rem; }
  .credit__card__footer {
    margin: 0px 15px;
    padding: 20px 0px;
    border-top: 1px solid #4e4b4b;
    overflow: hidden;
    padding-bottom: 20px; }
    .credit__card__footer a {
      font-size: 1.6rem; }
      .credit__card__footer a:hover {
        color: #ec7000; }
