*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: 0;
  backface-visibility: hidden; }

*:focus {
  outline: none; }

html {
  font-size: 62.5%;
  background-color: #121212; }

body {
  box-sizing: border-box;
  background-color: #121212; }

h2 {
  font-size: 2.4rem;
  color: #fff; }

h3 {
  font-size: 1.6rem; }

p {
  font-size: 1.4rem; }

.wrapper {
  width: 124rem;
  margin: auto; }

.card {
  background-color: #1e1e1e;
  border: 1px solid #363636;
  border-radius: 8px;
  color: #ffffff;
  padding: 1.6rem; }

main {
  margin-top: 12.8rem; }
  main::after {
    content: "";
    clear: both;
    display: table; }

.header {
  position: fixed;
  background-color: #1e1e1e;
  color: #fff;
  padding: 2.9rem 3.5rem 0 3.5rem;
  height: 12.8rem;
  width: 124rem;
  top: 0;
  z-index: 999; }
  .header::after {
    content: "";
    clear: both;
    display: table; }
  .header > * {
    display: block;
    float: left; }
  .header__logo-img {
    width: 6.7rem;
    height: 6.7rem; }
  .header__menu {
    border-left: 1px solid #fff;
    margin-left: 2.7rem;
    height: 7rem;
    padding-left: 4.5rem; }
    .header__menu-gliph {
      cursor: pointer;
      position: relative;
      display: block;
      border-top: 2px solid #fff;
      width: 2.5rem;
      top: 30px; }
      .header__menu-gliph::after, .header__menu-gliph::before {
        content: "";
        position: absolute;
        left: 0px;
        border-top: 2px solid #fff;
        width: 2.5rem; }
      .header__menu-gliph::before {
        top: -11px; }
      .header__menu-gliph::after {
        top: 7px; }
    .header__menu-cta {
      cursor: pointer;
      margin-left: 3.6rem;
      font-size: 2.5rem;
      padding-top: 1rem;
      display: block; }
      .header__menu-cta:hover {
        color: #ec7000; }
  .header__search {
    margin: 0 .6rem 0 6.7rem;
    border: 0;
    background-image: url(../../img/lupa.png);
    background-repeat: no-repeat;
    background-position: 7px 24px;
    background-color: #1e1e1e;
    width: 29rem;
    border-bottom: 1px solid;
    padding: 1.9rem 1rem .9rem 4rem;
    font-size: 1.9rem; }
  .header__profile {
    cursor: pointer;
    margin: 0 0 0 5.4rem;
    border-left: 1px solid #FFF;
    padding: 1.8rem 0 0 2.5rem;
    height: 7rem; }
    .header__profile-title {
      text-transform: uppercase;
      margin: -1.4rem 0 0;
      font-size: 2.1rem; }
    .header__profile div {
      display: block;
      float: left;
      margin-top: 1.1rem; }
      .header__profile div + div {
        margin-left: 2.5rem; }
      .header__profile div p {
        margin: 0;
        font-size: 2rem; }
        .header__profile div p + p {
          font-size: 1.5rem; }
  .header__sign-out {
    cursor: pointer;
    margin: 0 0 0 5.4rem;
    border-left: 1px solid #fff;
    padding: 1.8rem 0 0 2.5rem;
    height: 7rem;
    float: right; }
    .header__sign-out p {
      font-size: 2.4rem;
      background-image: url(../../img/seta.png);
      background-repeat: no-repeat;
      background-position: 40px 9px;
      background-color: #1e1e1e;
      padding: 0 3rem 0 0; }
      .header__sign-out p:hover {
        color: #ec7000; }

@media (max-width: 800px) {
  .header__search, .header__profile {
    display: none; } }

.col-md-4 span, .col-md-4 a.link {
  float: right; }

.col-md-4 a.link {
  font-size: 1.5rem;
  color: #e2e8f0;
  margin-right: 10px;
  text-decoration: none;
  cursor: pointer; }

.col-md-4 a.link:hover {
  color: #ec7000; }

.saldo {
  padding: 10px; }
  .saldo ul li.list-values-item {
    position: relative;
    display: block;
    margin-bottom: -1px;
    padding: 10px 15px;
    border-bottom: 1px solid #363636;
    line-height: 3rem; }
  .saldo p {
    padding: 10px 15px; }
  .saldo p.total {
    margin-top: 35px;
    font-size: 2rem;
    font-weight: 500; }

.gerente {
  margin-top: 2%; }
  .gerente h2.nome {
    margin: 10px 10px; }
  .gerente p.title {
    margin: 0 10px 35px;
    border-bottom: 1px solid #363636;
    padding-bottom: 3rem;
    color-interpolation-filters: auto; }
  .gerente ul li.list-contatos-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    line-height: 10px; }
  .gerente img.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: right; }

.lancamentos {
  color: green; }

.credit {
  margin-top: 2%; }
  .credit a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold; }
    .credit a:hover, .credit a:focus {
      color: #fff; }
  .credit h2,
  .credit h3 {
    margin: 0;
    padding: 0; }
  .credit h2 {
    margin-top: 2rem;
    margin-bottom: 1rem; }
  .credit__card__header {
    margin: 2rem 0;
    overflow: hidden; }
    .credit__card__header h3 {
      font-size: 2rem; }
    .credit__card__header a {
      display: inline-block;
      vertical-align: middle;
      float: none;
      font-size: 1.6rem; }
      .credit__card__header a:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin-left: 1rem;
        width: 19px;
        height: 10px;
        background: url(../../img/seta-baixo.png);
        transition: transform 0.5s; }
      .credit__card__header a.card-open:after {
        transform: rotate(180deg); }
    .credit__card__header__bandeira {
      margin-top: 4rem; }
      .credit__card__header__bandeira img {
        float: left; }
      .credit__card__header__bandeira h2 {
        display: inline-block;
        padding-left: 1.5rem;
        font-size: 2.4rem; }
  .credit__card__body {
    margin: 0px 15px;
    padding-top: 20px;
    border-top: 1px solid #4e4b4b;
    overflow: hidden; }
    .credit__card__body > .row {
      margin-bottom: 20px; }
    .credit__card__body .no-margin-bottom {
      margin-bottom: 0px; }
    .credit__card__body .progress {
      height: 7px;
      background: #4e4b4b;
      margin-bottom: 0; }
      .credit__card__body .progress .progress-bar {
        width: 25%;
        background: #fff; }
    .credit__card__body__values p {
      font-size: 1.8rem; }
  .credit__card__footer {
    margin: 0px 15px;
    padding: 20px 0px;
    border-top: 1px solid #4e4b4b;
    overflow: hidden;
    padding-bottom: 20px; }
    .credit__card__footer a {
      font-size: 1.6rem;}
